html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #FFFFFF;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}
:root {
	--black:#3B434E;
	--white:#FFFFFF;
	--primary:#7653FC;
	--red:#DE0000;
	--green:#1DC37E;
	--green-lite:#C8F8E4;
	--font-family:'Noto Sans', sans-serif;

}
